@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.typing-container {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    white-space: pre-line;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    position: relative;
}

.typing-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 100dvh;
}

.typing-container p {
    margin-inline: 20%;
}

.typed-correct {
    color: gray;
}

.typed-error {
    color: lightcoral;
}

.prompt {
    color: darkslategray;
}

.cursor {
    height: 2rem;
    width: 0.3rem;
    background-color: yellow;
    position: absolute;
    border-radius: 5rem;
    animation: fadeBlink 1.5s ease-in-out infinite;
    transform: translate(-0.2rem, 0.3rem);
    
}
  
@keyframes fadeBlink {
0% { background-color: darkgoldenrod; }
50% { background-color: darkorange; }
100% { background-color: darkgoldenrod; }
}